@import 'node_modules/@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
  $font-family: 'Inter, "Lucida Sans Unicode", "Lucida Grande", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 400, $letter-spacing: -0.05em),
  $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 600),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 600),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 400),
  $input:         mat-typography-level(inherit, 1.125, 400)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

$mat-tailormap: (
  50: #efe8fe,
  100: #d5c6fc,
  200: #b89ffb,
  300: #9976fb,
  400: #7e56fa,
  500: #5f35f7,
  600: #5130f0,
  700: #3a28e8,
  800: #1722e2,
  900: #0012db,
  A100: #fff,
  A200: rgba(98, 54, 255, 0.1),
  A400: rgba(98, 54, 255, 0.4),
  A700: rgba(98, 54, 255, 0.6),
  contrast: (
    50 : #000,
    100 : #000,
    200 : #000,
    300 : #fff,
    400 : #fff,
    500 : #fff,
    600 : #fff,
    700 : #fff,
    800 : #fff,
    900 : #fff,
    A100 : #000,
    A200 : #5f35f7,
    A400 : #5f35f7,
    A700 : #fff,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tailormap-app-primary: mat-palette($mat-tailormap);
$tailormap-app-accent:  mat-palette($mat-tailormap, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tailormap-app-warn:    mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$tailormap-app-theme: mat-light-theme((
  color: (
    primary: $tailormap-app-primary,
    accent: $tailormap-app-accent,
    warn: $tailormap-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tailormap-app-theme);

button.mat-button,
button.mat-stroked-button,
button.mat-flat-button {
  border-radius: 0;
}

button.mat-stroked-button {
  border: 1px solid #eeeeef;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
