@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../assets/fonts/Inter/Inter-Regular.woff2?v=3.15") format("woff2"),
    url("../assets/fonts/Inter/Inter-Regular.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url("../assets/fonts/Inter/Inter-Italic.woff2?v=3.15") format("woff2"),
    url("../assets/fonts/Inter/Inter-Italic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../assets/fonts/Inter/Inter-SemiBold.woff2?v=3.15") format("woff2"),
    url("../assets/fonts/Inter/Inter-SemiBold.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    url("../assets/fonts/Inter/Inter-SemiBoldItalic.woff2?v=3.15") format("woff2"),
    url("../assets/fonts/Inter/Inter-SemiBoldItalic.woff?v=3.15") format("woff");
}
