@import "inter-font.css";
@import "~@tailormap/shared/assets/tailormap-style.css";

:root {
  --left-panel-width: 0;
  --right-panel-width: 0;
  --top-panel-height: 0;
  --bottom-panel-height: 0;
  --overlay-panel-z-index: 25000;
  --overlay-panel-width: 300px;
}
