// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: true;

$theme-name: 'mobile';
$base-color: #ccc;
$font-size: 15px;

//panel
$panel-header-background-gradient: color-stops(#F0F0F0, #D7D7D7);
$panel-border-color: #D0D0D0;
$panel-header-color: #333;
$panel-frame-border-radius: 3px;
$panel-frame-background-color: #f1f1f1;
$panel-body-font-size: 15px;

//window
$window-background-color: #e8e8e8;
$window-header-color: #333;

//menu
$menu-item-active-background-color: darken(#f3f3f3, 5);
$menu-item-active-border-color: #9d9d9d;

//datepicker
$datepicker-header-background-color: #6f6f6f;
$datepicker-border-color: #585858;
$datepicker-th-background-color: #e9e9e9;
$datepicker-selected-item-background-color: #d8d8d8;
$datepicker-item-hover-background-color: transparent;
$datepicker-td-height: 21px;
$datepicker-monthpicker-height: 172px;

//progress bar
$progress-border-color: #8e8e8e;
$progress-background-color: #f1f1f1;
$progress-bar-background-color: #ababab;

//loadmask
$loadmask-msg-inner-padding: 5px 10px;

//tips
$tip-base-color: $base-color;

//grid
$grid-header-over-border-color: darken($base-color, 3);
$grid-row-height: 25px;
$grid-row-cell-font-size: 14px;
$grid-row-cell-line-height: 20px;
$grid-editor-line-height: $grid-row-height - 7;
$grid-row-editor-field-padding-horizontal: 1px;
$grid-cell-editor-field-padding-horizontal: 3px;
$grid-cell-treecolumn-editor-field-padding-horizontal: 0;
$grid-row-editor-checkbox-padding-top: 0;
$grid-cell-editor-checkbox-padding-top: 1px;

//tree
$tree-elbow-width: 25px;
$tree-elbow-height: 25px;
$tree-checkbox-margin-top: 5px;
$tree-icon-margin-top: 4px;

//toolbar
$toolbar-background-gradient: color-stops(#e6e6e6, #efefef);
$toolbar-separator-color: #aca899;
$toolbar-text-color: #000;

//btn group
$btn-group-background-color: #f0f0f0;
$btn-group-header-background-color: #dfdfdf;
$btn-group-border-color: #d0d0d0;
$btn-group-header-color: #666;

//form
$fieldset-header-color: #333;
$form-field-height: 26px;
$form-toolbar-field-height: 24px;
$form-field-border-width: 2px;
$form-checkbox-size: 19px;
$form-trigger-width: 20px;
$form-trigger-border-bottom-width: 2px;

//boundlist
$boundlist-border-color: #b5b8c8;
$boundlist-border-width: 2px;
$boundlist-item-border-width: 0;

//acordion
$accordion-header-background-color: #e5e5e5;

//tabs
$tab-base-color: #eaeaea;
$tab-color-active: #333333;
$tab-height: 27px;
$tab-closable-width: 16px;

$tab-background-gradient: color-stops(#dcdcdc, #eaeaea);
$tab-background-gradient-over: 'tab-over' !default;
$tab-background-gradient-active: color-stops(#ffffff, #eaeaea);
$tab-background-gradient-disabled: 'tab-disabled' !default;

//buttons
$button-default-base-color: #f8f8f8;
$button-default-base-color-over: #f3f3f3;
$button-default-base-color-focus: $button-default-base-color-over;
$button-default-base-color-pressed: #d6d6d6;
$button-default-base-color-disabled: adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7

$button-default-border-color: #bbbbbb;
$button-default-border-color-over: #9d9d9d;
$button-default-border-color-focus: $button-default-border-color-over;
$button-default-border-color-pressed: $button-default-border-color-over;
$button-default-border-color-disabled: adjust-color($button-default-base-color-disabled, $hue: 0deg, $saturation: 0%, $lightness: -8.627%) !default;

$button-default-background-gradient: 'matte';
$button-default-background-gradient-over: 'matte';
$button-default-background-gradient-focus: 'matte';
$button-default-background-gradient-pressed: 'matte-reverse';
$button-default-background-gradient-disabled: 'matte';

$button-default-background-gradient-color-stops: null;
$button-default-background-gradient-color-stops-over: null;
$button-default-background-gradient-color-stops-focus: null;
$button-default-background-gradient-color-stops-pressed: null;
$button-default-background-gradient-color-stops-disabled: null;


$button-toolbar-base-color: $button-default-base-color;

$button-toolbar-border-color: transparent !default;
$button-toolbar-border-color-over: $button-default-border-color-over;
$button-toolbar-border-color-focus: $button-default-border-color-focus;
$button-toolbar-border-color-pressed: $button-default-border-color-pressed;
$button-toolbar-border-color-disabled: $button-default-border-color-disabled;

$button-toolbar-background-color: transparent !default;
$button-toolbar-background-color-over: $button-default-base-color-over;
$button-toolbar-background-color-focus: $button-default-base-color-focus;
$button-toolbar-background-color-pressed: $button-default-base-color-pressed;
$button-toolbar-background-color-disabled: transparent;

$button-toolbar-background-gradient: null;
$button-toolbar-background-gradient-over: 'matte';
$button-toolbar-background-gradient-focus: 'matte';
$button-toolbar-background-gradient-pressed: 'matte-reverse';
$button-toolbar-background-gradient-disabled: null;

$button-toolbar-background-gradient-color-stops: null;
$button-toolbar-background-gradient-color-stops-over: null;
$button-toolbar-background-gradient-color-stops-focus: null;
$button-toolbar-background-gradient-color-stops-pressed: null;
$button-toolbar-background-gradient-color-stops-disabled: null;

// Tools / Panels
$tool-size: 25px;

@import 'ext4/default/all';

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true