html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div {
    padding: 0px;
    margin: 0px;
}
/* messages */

.messages .box {
    width: 400px;
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
}

.wideMessages .box {
    width: 700px;
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
}

.box div {
    padding-left: 18px;
    padding-bottom: 1px;
}

.security {
    border: 1px solid #7f7f00;
    background-color: #ffffee;
}

.security div {
    background: url(../images/lock.gif) no-repeat;
    color: #7f7f00;
}

.errors {
    border: 1px solid red;
    background-color: #fff5f5;
}

.errors div {
    background: url(../images/error.gif) no-repeat;
    color: red;
}

.info {
    border: 1px solid blue;
    background-color: #f5f5ff;
}

.info div {
    background: url(../images/info.gif) no-repeat;
    color: blue;
}

.warnings {
    border: 1px solid #7f7f00;
    background-color: #ffffee;
}

.warnings div {
    background: url(../images/warning.gif) no-repeat;
    color: #7f7f00;
}

/* validation styles */

input.error, textarea.error {
    color: red;
    background-color: #ffffaa;
}

input.error[type="radio"], input.error[type="checkbox"], select.error {
    background-color: white;
    border: 2px solid red;
}

.viewer-component-block {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.tristatenode .x-tree-checkbox {
    background-position: 0 -39px;
}

.toc-outofscale {
    color : gray;
}

.toc-inscale {
    color: black;
}
/*OpenLayers */
.olImageLoadError{
    background-color: transparent !important;
}
.olControlPanel{
    float: left;
    margin-left: 75px;
    margin-top: 5px;
    border: 1px solid grey;
    padding: 2px;
    background-color: #EEE;
}
.olControlPanel div {
    float: left;
    display:block;
    width:  24px;
    height: 22px;
    margin: 5px;
    background-repeat: no-repeat;
}

.olControlPanel .olControlDragPanItemActive {
    background-image: url("../../viewer-html/common/openlayers/theme/default/img/pan_on.png");
}
.olControlPanel .olControlDragPanItemInactive {
    background-image: url("../../viewer-html/common/openlayers/theme/default/img/pan_off.png");
}


.olControlPanel .olControlZoomBoxItemInactive {    
    background-image: url("../../viewer-html/common/openlayers/theme/default/img/zoom_box_off.png");
}
.olControlPanel .olControlZoomBoxItemActive {    
    background-image: url("../../viewer-html/common/openlayers/theme/default/img/zoom_box_on.png");
}
.olControlPanel .olControlZoomOutItemActive {    
    background-image: url("../../viewer-html/common/openlayers/theme/default/img/zoom_out_on.png");
}
.olControlPanel .olControlZoomOutItemInactive {    
    background-image: url("../../viewer-html/common/openlayers/theme/default/img/zoom_out_off.png");
}
.olControlPanel .olControlidentifyItemActive{
    background-image: url("../../viewer-html/common/openlayers/theme/default/img/identify_on.png");
}
.olControlPanel .olControlidentifyItemInactive{
    background-image: url("../../viewer-html/common/openlayers/theme/default/img/identify_off.png");
}
/*
.olControlMeasureItemInactive{
    background-image: url("img/measure_off.png");
}
.olControlMeasureItemActive{
    background-image: url("img/measure_on.png");
}*/
/*
.olControlPanel .olControlZoomToMaxExtentItemInactive {
    width:  18px;
    height: 18px;
    background-image: url("../img/zoom-world-mini.png");
}
.olControlPanel .olControlb_bufferItemInactive{
    background-image: url("img/buffer_tool.png");
}
.olControlPanel .olControlb_bufferItemActive{
    background-image: url("img/buffer_tool.png");
}*/
/*.olControlPanel .olControlidentifyItemActive{
    background-image: url("img/identify_on.png");
}
.olControlPanel .olControlidentifyItemInactive{
    background-image: url("img/identify_off.png");
}*/
/*
.olControlPanel .olControlb_highlightItemInactive{
    background-image: url("img/polygon_select.png");
}
.olControlPanel .olControlb_highlightItemActive{
    background-image: url("img/polygon_select.png");
}

.olControlPanel .olControlb_printMapItemInactive{
    background-image: url("img/print.png");
}
.olControlPanel .olControlb_printMapItemActive{
    background-image: url("img/print.png");
}

.olControlPanel .olControlb_layerSelectionItemInactive{
    background-image: url("img/book_open.png");
}
.olControlPanel .olControlb_layerSelectionItemActive{
    background-image: url("img/book_open.png");
}

.olControlPanel .olControlb_removePolygonsItemInactive{
    background-image: url("img/polygon_delete.png");
}
.olControlPanel .olControlb_removePolygonsItemActive{
    background-image: url("img/polygon_delete.png");
}

.olControlPanel .olControlb_bookMarkItemInactive{
    background-image: url("img/bookmark.png");
}
.olControlPanel .olControlb_bookMarkItemActive{
    background-image: url("img/bookmark.png");
}

.olControlPanel .olControlb_getfeaturesItemInactive{
    background-image: url("img/polygon_info.png");
}
.olControlPanel .olControlb_getfeaturesItemActive{
    background-image: url("img/polygon_info.png");
}

.olControlPanel .olControlDrawFeaturePointItemInactive{
    background-image: url("../default/img/draw_point_off.png");
}

.olControlPanel .olControlDrawFeaturePointItemActive{
    background-image: url("../default/img/draw_point_on.png");
}

.olControlPanel .olControlDrawFeaturePathItemInactive{
    background-image: url("../default/img/draw_line_off.png");
}

.olControlPanel .olControlDrawFeaturePathItemActive{
    background-image: url("../default/img/draw_line_on.png");
}

.olControlPanel .olControlDrawFeaturePolygonItemInactive{
    background-image: url("../default/img/draw_polygon_off.png");
}

.olControlPanel .olControlDrawFeaturePolygonItemActive{
    background-image: url("../default/img/draw_polygon_on.png");
}*/

