html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div {
    padding: 0px;
    margin: 0px;
}
/* messages */

.messages .box {
    width: 400px;
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
}

.wideMessages .box {
    width: 700px;
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
}

.box div {
    padding-left: 18px;
    padding-bottom: 1px;
}

.security {
    border: 1px solid #7f7f00;
    background-color: #ffffee;
}

.security div {
    background: url(../images/lock.gif) no-repeat;
    color: #7f7f00;
}

.errors {
    border: 1px solid red;
    background-color: #fff5f5;
}

.errors div {
    background: url(../images/error.gif) no-repeat;
    color: red;
}

.info {
    border: 1px solid blue;
    background-color: #f5f5ff;
}

.info div {
    background: url(../images/info.gif) no-repeat;
    color: blue;
}

.warnings {
    border: 1px solid #7f7f00;
    background-color: #ffffee;
}

.warnings div {
    background: url(../images/warning.gif) no-repeat;
    color: #7f7f00;
}

/* validation styles */

input.error, textarea.error {
    color: red;
    background-color: #ffffaa;
}

input.error[type="radio"], input.error[type="checkbox"], select.error {
    background-color: white;
    border: 2px solid red;
}

.viewer-component-block {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/*************Balloon css:**************/
.infoBalloon{
    position: absolute;
}
.balloonCornerTopRight{    
    position: absolute;
    overflow: hidden;
}
.balloonCornerTopLeft{    
    position: absolute;
    overflow: hidden;
}
.balloonCornerBottomRight{    
    position: absolute;
    overflow: hidden;
}
.balloonCornerBottomLeft{    
    position: absolute;
    overflow: hidden;
}
/*Balloon Arrows*/
.balloonArrow {    
    position: absolute;
    overflow: hidden;
    width: 40px;
    height: 40px;
}
.balloonArrow  img{
    position: absolute;
}
.balloonArrowTopLeft{
    left: 0px;
    top: 0px;
}
.balloonArrowTopRight{
    right: 0px;
    top: 0px;
}
.balloonArrowTopRight img{
    left: -40px;
}
.balloonArrowBottomLeft{
    left: 0px;
    bottom: 0px;
}
.balloonArrowBottomLeft img{
    left: -80px;
}
.balloonArrowBottomRight{
    right: 0px;
    bottom: 0px;
}
.balloonArrowBottomRight img{
    left: -120px;
}
/*Balloon Content*/
.balloonContent{
    position: absolute;
    right: 7px;
    left: 7px;
    overflow: auto;
}
.balloonCloseButton{
    position: absolute;
    background: url("../images/close.gif") no-repeat scroll 0 0 transparent;
    height: 17px;
    width: 17px;
    cursor: pointer;
}
/******/
.maptip_feature{
    z-index: 20000;
}
.maptip_feature div{
    width: 100%;
    float: left;
    clear: right;
    z-index: 20000;
}
.maptip_title{
    z-index: 20000;
}
.maptip_image{
    z-index: 20000;
}
.maptip_description{
    z-index: 20000;
}
.maptip_link{
    z-index: 20000;
}