<?xml version="1.0" encoding="UTF-8" ?>
<!-- voor de ConversionPattern parameters zie:
http://logging.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html
LEVELS: debug, info, warn, error, fatal en off, all -->
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} Flamingo-viewer-admin-test: %5p (%C#%M:%L) - %m%n" />
        </layout>
    </appender>
    <logger name="nl.b3p.viewer.admin.stripes">
        <level value="debug" />
    </logger>
    <logger name="nl.b3p.viewer.config.services">
        <level value="info" />
    </logger>
    <logger name="nl.b3p.viewer.util.databaseupdate.ScriptRunner">
        <level value="error" />
    </logger>
    <logger name="org.hibernate">
        <level value="error" />
    </logger>
    <logger name="org.hibernate.type">
        <level value="error" />
    </logger>
    <logger name="org.hibernate.tool.hbm2ddl">
        <level value="error" />
    </logger>
    <logger name="org.hibernate.SQL">
        <level value="error" />
    </logger>
    <logger name="org.hsqldb.persist">
        <level value="warn" />
    </logger>
    <logger name="org.apache.http.client">
        <level value="info" />
    </logger>
    <logger name="org.apache.commons.httpclient">
        <level value="info" />
    </logger>
    <logger name="org.apache.http.wire">
        <level value="info" />
    </logger>
    <logger name="httpclient.wire">
        <level value="info" />
    </logger>
    <root>
        <level value="info" />
        <appender-ref ref="consoleAppender" />
    </root>
</log4j:configuration>
