html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div {
    padding: 0px;
    margin: 0px;
}

#loadwrapper {
    position: relative; 
    margin: 0 auto; 
    text-align: left; 
    width: 100px
}

#loader {
    position: absolute;
        
    display: none;
    text-align: center;    
    padding: 5px;
    font: bold small sans-serif;
    background-color: #ffffaa;
    border: 1px solid #888888;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; 
}

/* messages */

.messages .box {
    width: 400px;
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
}

.wideMessages .box {
    width: 700px;
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
}

.box div {
    padding-left: 18px;
    padding-bottom: 1px;
}

.security {
    border: 1px solid #7f7f00;
    background-color: #ffffee;
}

.security div {
    background: url('../images/lock.gif') no-repeat;
    color: #7f7f00;
}

.errors {
    border: 1px solid red;
    background-color: #fff5f5;
}

.errors div {
    background: url('../images/error.gif') no-repeat;
    color: red;
}

.info {
    border: 1px solid blue;
    background-color: #f5f5ff;
}

.info div {
    background: url('../images/info.gif') no-repeat;
    color: blue;
}

.warnings {
    border: 1px solid #7f7f00;
    background-color: #ffffee;
}

.warnings div {
    background: url('../images/warning.gif') no-repeat;
    color: #7f7f00;
}

/* validation styles */

input.error, textarea.error {
    color: red;
    background-color: #ffffaa;
}

input.error[type="radio"], input.error[type="checkbox"], select.error {
    background-color: white;
    border: 2px solid red;
}

.tristatenode .x-tree-checkbox {
    background-position: 0 -39px;
}

.toc-outofscale {
    color : gray;
}
.toc-zoomtoscale{
    height: 36px !important;
}
.toc-zoomtoscale-text{
    color: blue;
    float: right;
    margin-right: 10px;
    font-style: italic;
}
.toc-inscale {
    color: black;
}
.no_treenode_icon{
    background-image: none;
    width: 1px;
} 
.customIconButton button {
    width: 100% !important;
    height: 100%;
}
.customIconButton .x-btn-icon {
    width: 38px;
    height: 38px;
    line-height: 38px;
}

.searchResultButton{
    width:100%;
    border-radius: 0;
}
