<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <!-- Context parameters:

        Note: for Tomcat, change these values in the Context in the Tomcat
        conf directory so it does not require modification of the deployment
        descriptor (this file) to customize these values.
        http://tomcat.apache.org/tomcat-8.0-doc/config/context.html#Context_Parameters
    -->
    <context-param>
        <description>
            The (relative or absolute) URL to the viewer webapp. Needed for when
            the viewer-admin needs to link to it, for example for image uploads.
        </description>
        <param-name>viewer.url</param-name>
        <param-value>/viewer</param-value>
    </context-param>
    <context-param>
        <description>
            To load components from the viewer webapp, specify the context name
            of the viewer webapp below (usually "/viewer", but if deployed as
            root "/"). If not specified specify the path to the directory or
            directies with components.json files in the "componentregistry.path"
            context parameter.

            The viewer webapp must be reachable by ServletContext.getContext().
            For Tomcat, set crossContext="true" on the Context for the
            viewer-admin webapp. Other servlet containers may require different
            configuration.
        </description>
        <param-name>componentregistry.crosscontext</param-name>
        <param-value>/viewer</param-value>
    </context-param>
    <context-param>
        <description>
            The from e-mail address used when sending notification mails. Some
            mail servers require a valid e-mail address when accepting mail.
        </description>
        <param-name>monitoring.mail.from.email</param-name>
        <param-value>no-reply@b3partners.nl</param-value>
    </context-param>
    <context-param>
        <description>
            The from name used when sending notification mails.
        </description>
        <param-name>monitoring.mail.from.name</param-name>
        <param-value>Geo services monitoring</param-value>
    </context-param>
    <context-param>
        <description>
            Configure at which interval in minutes the monitoring job should be run.
            Comment out this parameter or set to -1 to disable.
        </description>
        <param-name>monitoring.schedule.minutes</param-name>
        <param-value>30</param-value>
    </context-param>
    <context-param>
        <description>
            Configure the directory at which the flamingo data directory is located. This application must have permissions to write/read to that directory. In this directory
            the solr configuration and index will be located.
        </description>
        <param-name>flamingo.data.dir</param-name>
        <param-value>PATH/TO/DATA/DIRECTORY</param-value>
    </context-param>
    <context-param>
        <description>
            Configure whether or not this web application had to create the directory structure for solr. Default is false. Set to true for the viewer-admin, because the
            viewer-admin has the resources for a new server/core istance to be created.
        </description>
        <param-name>flamingo.solr.setup</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>
            Configure at which interval the solr indexing job should be run.
            The interval should be a valid cron-expression string, you can use http://www.cronmaker.com/
            Comment out this context parameter or set to -1 to disable. 
        </description>
        <param-name>flamingo.solr.schedule</param-name>
        <param-value>-1</param-value>
    </context-param>
    <context-param>
        <description>
            The url on where the solr server is to be found.
        </description>
        <param-name>flamingo.solr.url</param-name>
        <param-value>http://SERVER/solr</param-value>
    </context-param>
    <context-param>
        <description>
            List of supported language codes (comma-separated)
        </description>
        <param-name>flamingo.i18n.languagecodes</param-name>
        <param-value>nl_NL</param-value>
    </context-param>
    <context-param>
        <description>
            List of projectioncodes, separated by semicolons.
        </description>
        <param-name>flamingo.projections.epsgcodes</param-name>
        <param-value>EPSG:28992[+proj=sterea +lat_0=52.15616055555555 +lon_0=5.38763888888889 +k=0.9999079 +x_0=155000 +y_0=463000 +ellps=bessel +towgs84=565.237,50.0087,465.658,-0.406857,0.350733,-1.87035,4.0812 +units=m +no_defs]</param-value>
    </context-param>
    <context-param>
        <description>
            List of projection names(/labels), separated by comma's.
        </description>
        <param-name>flamingo.projections.epsgnames</param-name>
        <param-value>RD</param-value>
    </context-param>
    <listener>
        <listener-class>nl.b3p.viewer.components.ComponentRegistryInitializer</listener-class>
    </listener>
    <listener>
        <listener-class>nl.b3p.viewer.admin.monitoring.GeoServiceMonitoringListener</listener-class>
    </listener>
    <listener>
        <listener-class>nl.b3p.web.stripes.StripersistCleanupListener</listener-class>
    </listener>
    <listener>
        <description>The class which initializes (and if configured sets up) the solr instance.</description>
        <listener-class>nl.b3p.viewer.solr.SolrInitializer</listener-class>
    </listener>
    <listener>
        <description>The class which initializes (and if configured sets up) the solr instance.</description>
        <listener-class>nl.b3p.viewer.solr.SolrUpdaterListener</listener-class>
    </listener>
    <!-- Localization context for the likes of the <fmt:message> JSTL tag -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>ViewerResources</param-value>
    </context-param>
    <filter>
        <description>Filter from Tomcat 6 distribution, see http://wiki.apache.org/tomcat/FAQ/CharacterEncoding</description>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>nl.b3p.web.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <description>Filter to clean up GeoTools thread locals</description>
        <filter-name>GeoToolsFilter</filter-name>
        <filter-class>nl.b3p.web.geotools.GeoToolsFilter</filter-class>
    </filter>
    <filter>
        <display-name>Stripes Filter</display-name>
        <filter-name>StripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>nl.b3p.viewer.admin.stripes</param-value>
        </init-param>
        <init-param>
            <param-name>Extension.Packages</param-name>
            <param-value>org.stripesstuff.stripersist,org.stripesstuff.plugin.session,org.stripesstuff.plugin.security</param-value>
        </init-param>
        <init-param>
            <param-name>MultipartWrapper.Class</param-name>
            <param-value>net.sourceforge.stripes.controller.multipart.CommonsMultipartWrapper</param-value>
        </init-param>
        <init-param>
            <param-name>CoreInterceptor.Classes</param-name>
            <param-value>
                org.stripesstuff.plugin.waitpage.WaitPageInterceptor,
                net.sourceforge.stripes.controller.BeforeAfterMethodInterceptor,
                net.sourceforge.stripes.controller.HttpCacheInterceptor
            </param-value>
        </init-param>
        <init-param>
            <param-name>Stripersist.InitializeSettingsClass</param-name>
            <param-value>nl.b3p.viewer.config.stripersist.DynamicStripersistInitializer</param-value>
        </init-param>
        <init-param>
            <param-name>LocalePicker.Locales</param-name>
            <!-- Note that the option to specify the encoding using nl_NL:UTF-8
                 is not required because we have a separate filter for that:
                 SetCharacterEncodingFilter -->
            <param-value>nl</param-value>
        </init-param>
        <init-param>
            <param-name>LocalizationBundleFactory.ErrorMessageBundle</param-name>
            <param-value>ViewerResources</param-value>
        </init-param>
        <init-param>
            <param-name>LocalizationBundleFactory.FieldNameBundle</param-name>
            <param-value>ViewerResources</param-value>
        </init-param>
        <init-param>
            <param-name>SecurityManager.Class</param-name>
            <param-value>org.stripesstuff.plugin.security.J2EESecurityManager</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GeoToolsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <servlet-name>StripesDispatcher</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>StripesDispatcher</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>/action/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>*.wait</url-pattern>
    </servlet-mapping>
    <!-- Note: No authorization on url-patterns but on Stripes ActionBeans using
      @Secure (from Stripesstuff), so when the @UrlBinding changes no url-patterns
      need to be updated
    -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
            <role-name>RegistryAdmin</role-name>
            <role-name>UserAdmin</role-name>
            <role-name>ApplicationAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>roles</web-resource-name>
            <url-pattern>/authinfo.jsp</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>roles</web-resource-name>
            <url-pattern>/logout.jsp</url-pattern>
            <url-pattern>/action/admin/upgradecheck/ping</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <!-- BASIC is useful during development with lots of redeploys, use
             FORM for production
        -->
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginfail.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <role-name>RegistryAdmin</role-name>
    </security-role>
    <security-role>
        <role-name>UserAdmin</role-name>
    </security-role>
    <security-role>
        <role-name>ApplicationAdmin</role-name>
    </security-role>
    <session-config>
        <session-timeout>
            180
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Set mime type for .js so it can be used in Tomcat server.xml in the
         compressableMimeType attribute for the Connector element:

        <Connector ...
           compression="on"
           compressableMimeType="text/html,text/plain,text/css,application/javascript"
        />
    -->
    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/javascript</mime-type>
    </mime-mapping>
</web-app>
