<?xml version="1.0" encoding="UTF-8"?>
<FLAMINGO xmlns:fmc="fmc" xmlns:cmc="cmc" id="flamingo" lang="en" tooltipdelay="300" commtojava="true" preloadtitle="Flamingo4" useexternalinterface="true" loglevel="debug" allowexternalinterface="flamingo.onConfigComplete">
	<style id=".tooltip" font-family="arial, sans-serif" font-size="11" color="#880000" display="block"/>
	<fmc:Container id="mainContainer" left="0" top="0" height="100%" width="100%">
	</fmc:Container>
</FLAMINGO>
