/* 
    Document   : maptip
    Created on : 24-feb-2012, 9:33:35
    Author     : Roy Braam
    Description:
        Purpose of the stylesheet follows.
*/


/*************Balloon css:**************/
.infoBalloon{
    position: absolute;
}
.balloonCornerTopRight{    
    position: absolute;
    overflow: hidden;
}
.balloonCornerTopLeft{    
    position: absolute;
    overflow: hidden;
}
.balloonCornerBottomRight{    
    position: absolute;
    overflow: hidden;
}
.balloonCornerBottomLeft{    
    position: absolute;
    overflow: hidden;
}
/*Balloon Arrows*/
.balloonArrow {    
    position: absolute;
    overflow: hidden;
    width: 40px;
    height: 40px;
}
.balloonArrow  img{
    position: absolute;
}
.balloonArrowTopLeft{
    left: 0px;
    top: 0px;
}
.balloonArrowTopRight{
    right: 0px;
    top: 0px;
}
.balloonArrowTopRight img{
    left: -40px;
}
.balloonArrowBottomLeft{
    left: 0px;
    bottom: 0px;
}
.balloonArrowBottomLeft img{
    left: -80px;
}
.balloonArrowBottomRight{
    right: 0px;
    bottom: 0px;
}
.balloonArrowBottomRight img{
    left: -120px;
}
/*Balloon Content*/
.balloonContent{
    position: absolute;
    right: 7px;
    left: 7px;
    overflow: auto;
}
.balloonCloseButton{
    position: absolute;
    background: url("../images/close.gif") no-repeat scroll 0 0 transparent;
    height: 17px;
    width: 17px;
    cursor: pointer;
}
/*** Features css ***/
.maptip_feature{
}
.maptip_feature div{    
    float: left;
    clear: right;
}
.maptip_leftcolumn{
    width: 75%;
}
.maptip_rightcolumn{
    width: 25%;
}
.maptip_title{
    width: 100%;
    font-weight: bold;
}
.maptip_image{
    width: 100%;
    float: right;
}
.maptip_description{
    width: 100%;
}
.maptip_link{
    width: 60%;
    clear: none;
}
.maptip_detail{
    width: 40%;
}
