@import url('../default/style.css');

.olControlPanel{
    border: 0px transparent;
    background-color: transparent;
}

.olControlPanel div{
    width: 28px;
    height: 28px;
}
.olControlPanel .olControlZoomBoxItemInactive {
    background: url("img/sprite.png") 595px 390px;    
}
.olControlPanel .olControlZoomBoxItemActive {    
    background: url("img/sprite.png") 0 390px;
}

.olControlPanel .olControlDragPanItemActive {
    background: url("img/sprite.png") 0 418px;    
}
.olControlPanel .olControlDragPanItemInactive {
    background: url("img/sprite.png") 595px 418px;    
}

.olControlPanel .olControlZoomOutItemActive {    
    background: url("img/sprite.png") 0 362px;
}
.olControlPanel .olControlZoomOutItemInactive {
    background: url("img/sprite.png") 595px 362px;
}
.olControlPanel .olControlIdentifyItemActive{
    background: url("img/sprite.png") 0 474px;
}
.olControlPanel .olControlIdentifyItemInactive{    
    background: url("img/sprite.png") 595px 474px;
}

.olControlPanel .olControlZoomToMaxExtentItemInactive {
    background: url("img/sprite.png") 595px 586px;
    width: 28px;
    height: 28px;
}

.olControlPanel .olControlMeasureItemActive{
    background: url("img/sprite.png") 0 446px;
}
.olControlPanel .olControlMeasureItemInactive{
    background: url("img/sprite.png") 595px 446px;
}

.olControlPanel .olControlDefaultItemActive{
    background: url("img/sprite.png") 0 334px;
}
.olControlPanel .olControlDefaultItemInactive{
    background: url("img/sprite.png") 595px 334px;
}

.olControlPanel .olControlNavigationHistoryPreviousItemActive{
    background: url("img/sprite.png") 0 530px;
}
.olControlPanel .olControlNavigationHistoryPreviousItemInactive{
    background: url("img/sprite.png") 595px 530px;
}

.olControlPanel .olControlNavigationHistoryNextItemActive{
    background: url("img/sprite.png") 0 558px;
}
.olControlPanel .olControlNavigationHistoryNextItemInactive{
    background: url("img/sprite.png") 595px 558px;
}

/*Border nav*/
.olControlPanPanel div{
    width: 28px !important;
    height: 28px !important;
}

.olControlPanPanel .olControlPanNorthItemInactive{
    background: url("img/sprite.png") 595px 782px !important;
}

.olControlPanPanel .olControlPanSouthItemInactive{
    background: url("img/sprite.png") 595px 698px !important;
}

.olControlPanPanel .olControlPanEastItemInactive{
    background: url("img/sprite.png") 595px 0 !important;
}

.olControlPanPanel .olControlPanWestItemInactive{
    background: url("img/sprite.png") 595px 614px !important;
}