@import url('../default/style.css');

.olControlPanel{
    border: 0px transparent;
    background-color: transparent;
}

.olControlPanel div{
    width: 28px;
    height: 28px;
}
.olControlPanel .olControlZoomBoxItemInactive {
    background: url("../../../../../resources/images/default_sprite.png") 514px 394px;    
}
.olControlPanel .olControlZoomBoxItemActive {    
    background: url("../../../../../resources/images/default_sprite.png") 0 394px;
}

.olControlPanel .olControlDragPanItemActive {
    background: url("../../../../../resources/images/default_sprite.png") 0 422px;    
}
.olControlPanel .olControlDragPanItemInactive {
    background: url("../../../../../resources/images/default_sprite.png") 514px 422px;    
}

.olControlPanel .olControlZoomOutItemActive {    
    background: url("../../../../../resources/images/default_sprite.png") 0 366px;
}
.olControlPanel .olControlZoomOutItemInactive {
    background: url("../../../../../resources/images/default_sprite.png") 514px 366px;
}
.olControlPanel .olControlIdentifyItemActive{
    background: url("../../../../../resources/images/default_sprite.png") 0 478px;
}
.olControlPanel .olControlIdentifyItemInactive{    
    background: url("../../../../../resources/images/default_sprite.png") 514px 474px;
}

.olControlPanel .olControlZoomToMaxExtentItemInactive {
    background: url("../../../../../resources/images/default_sprite.png") 514px 590px;
    width: 28px;
    height: 28px;
}

.olControlPanel .olControlMeasureItemActive{
    background: url("../../../../../resources/images/default_sprite.png") 0 450px;
}
.olControlPanel .olControlMeasureItemInactive{
    background: url("../../../../../resources/images/default_sprite.png") 514px 450px;
}

.olControlPanel .olControlDefaultItemActive{
    background: url("../../../../../resources/images/default_sprite.png") 0 338px;
}
.olControlPanel .olControlDefaultItemInactive{
    background: url("../../../../../resources/images/default_sprite.png") 514px 338px;
}

.olControlPanel .olControlNavigationHistoryPreviousItemActive{
    background: url("../../../../../resources/images/default_sprite.png") 0 534px;
}
.olControlPanel .olControlNavigationHistoryPreviousItemInactive{
    background: url("../../../../../resources/images/default_sprite.png") 514px 534px;
}

.olControlPanel .olControlNavigationHistoryNextItemActive{
    background: url("../../../../../resources/images/default_sprite.png") 0 562px;
}
.olControlPanel .olControlNavigationHistoryNextItemInactive{
    background: url("../../../../../resources/images/default_sprite.png") 514px 562px;
}

/*Border nav*/
.olControlPanPanel div{
    width: 28px !important;
    height: 28px !important;
}

.olControlPanPanel .olControlPanNorthItemInactive{
    background: url("../../../../../resources/images/default_sprite.png") 514px 786px !important;
}

.olControlPanPanel .olControlPanSouthItemInactive{
    background: url("../../../../../resources/images/default_sprite.png") 514px 702px !important;
}

.olControlPanPanel .olControlPanEastItemInactive{
    background: url("../../../../../resources/images/default_sprite.png") 514px 0 !important;
}

.olControlPanPanel .olControlPanWestItemInactive{
    background: url("../../../../../resources/images/default_sprite.png") 514px 618px !important;
}