/* 
    Document   : logger
    Created on : 17-apr-2012, 15:48:30
    Author     : Roy Braam
    Description:
        Purpose of the stylesheet follows.
*/
.logger_messages div{
    margin-left: 5px;
    padding-left: 20px;
}

.logger_error{
    background: url(../images/logger/error.gif) no-repeat;   
    color: #ff0000;
}
.logger_warning{
    background: url(../images/logger/warning.gif) no-repeat;
    color: black;
}
.logger_info{
    background: url(../images/logger/info.gif) no-repeat;
    color: grey;
}
.logger_icon{
    position: absolute;
    background: url(../images/logger/warning.gif) no-repeat;   
    z-index: 10000;
}