/* 
    Document   : maptip
    Created on : 24-feb-2012, 9:33:35
    Author     : Roy Braam
    Description:
        Purpose of the stylesheet follows.
*/


/*************Balloon css:**************/
.infoBalloon{
    position: absolute;

}
/*Balloon Arrows*/
.balloonArrow {    
    position: absolute;
    overflow: hidden;
    width: 20px;
    height: 20px;
}
.balloonArrow  img{
    position: absolute;
}
.balloonArrowTopLeft{
    left: 0px;
    top: 0px;
}
.balloonArrowTopRight{
    right: 0px;
    top: 0px;
}
.balloonArrowBottomLeft{
    left: 0px;
    bottom: 0px;
}
.balloonArrowBottomRight{
    right: 0px;
    bottom: 0px;
}
/*Balloon Content*/
.balloonContent{
    position: absolute;
    right: 7px;
    left: 7px;
    overflow: auto;
    border: 1px solid #A9A9A9;
    background-color: #FFFFFF;
    padding: 10px;
    overflow: auto;
}
.infoBalloon.minimized .balloonContent {
    width: 45px;
    height: 27px;
    padding: 5px;
    overflow: hidden;
}
.infoBalloon.minimized .arrowVisible.balloonArrowTopRight ~ .balloonContent {
    left: auto;
}
.infoBalloon.minimized .arrowVisible.balloonArrowBottomRight ~ .balloonContent {
    left: auto;
    top: auto !important;
}
.infoBalloon.minimized .arrowVisible.balloonArrowBottomLeft ~ .balloonContent {
    top: auto !important;
}
.infoBalloon.minimized .balloonContent * {
    display: none;
}
.infoBalloon.minimized .balloonContent .balloonButton {
    display: block;
}
.infoBalloon .balloonContent .balloonButton.x-tool-close {
    right: 12px;
}
.infoBalloon.minimized .balloonContent .balloonButton.x-tool-close {
    right: 3px;
}
.infoBalloon .balloonContent .balloonButton.x-tool-minimize {
    right: 32px;
}
.infoBalloon .balloonContent .balloonButton.x-tool-maximize {
    right: 24px;
}
.balloonButton{
    position: absolute;
    cursor: pointer;
}
/*** Features (feature info and maptip) css ***/
.feature_summary_feature{
    float: left;
    width: 100%;
    margin-bottom: 7px;
    padding-bottom: 2px;
    border-bottom: 1px solid #D7D7D7;
    overflow: auto;
}
.feature_summary_feature div{    
    float: left;
    clear: right;
}
.feature_summary_leftcolumn{
    width: 75%;
}
.feature_summary_rightcolumn{
    width: 25%;
}
.feature_summary_title{
    width: 100%;
    font-weight: bold;
}
.feature_summary_image{
    width: 100%;
    float: right;
}
.feature_summary_image img{
    max-width: 100px;
    max-height: 60px;
}
.feature_summary_description{
    width: 100%;
}
.feature_summary_link{
    width: 60%;
    clear: none;
}
.feature_summary_detail{
    width: 40%;
}
/*details window*/
.feature_detail_feature{
    padding: 5px;
    width: 100%;
}
.feature_summary_error{
    
}
.feature_detail_feature div{
    width: 100%;
    margin-top: 10px;
}
.feature_detail_title{
    font-weight: bold;
}
.feature_detail_description{}
.feature_detail_image{}
.feature_detail_link{}
.feature_detail_description_attr{}
.feature_detail_attr{}
.feature_detail_attr table{
    width: 100%;
}
.feature_detail_attr_key{
    font-weight: bold;
    vertical-align: top;
}
.feature_detail_attr_value{}