/* 
    Document   : relatedDocuments
    Created on : 5-mrt-2012, 16:02:51
    Author     : Roy Braam
    Description:
        Style sheet for related documents layout.
*/
.documents_documents{
    padding-top: 5px;
    margin-left: 5px;
}
.document_entry{
    float: left;
    width:200px;
    overflow: hidden;
}
.document_icon{
    float: left;
}
.document_icon img{
    
}
.document_link{
    margin-left: 5px;
    float: left;
}
