/* 
    Created on : Nov 20, 2015, 4:43:13 PM
    Author     : geertplaisier
    Description:
        Style sheet for simple filters component
*/

.simple-filter-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
}

.simple-filter-container {
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 16px;
}

.simple-filter-inner {
    margin-top: 4px;
    padding: 3px;
    color: black;
    background-color: #ced3d9;
}

.simple-filter-inner > table {
    width: 100%;
}