/* 
    Created on : Nov 20, 2015, 4:43:13 PM
    Author     : geertplaisier
    Description:
        Style sheet for simple filters component
*/

.simple-filter-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
}

.simple-filter-container {
    padding: 3px 5px 16px;
}

.simple-filter-inner {
    margin-top: 4px;
    padding: 3px;
    color: black;
    background-color: #ced3d9;
}

.simple-filter-inner > table {
    width: 100%;
}

.simple-filter-field-label {
    display: inline-block;
    padding-right: 10px;
}

.simple-filter-field-label > div {
    display: inline-block;
}

.simple-filter-field-label .label {
    padding: 5px 0 0 5px;
    vertical-align: top;
    line-height: 1em;
}