/** 
    Feature info that's needed for FeatureInfo component
*/
.featureinfo_progress{
    color: #585858;
    font-size: larger;
}

.featureinfo_layer{
    position: static;
    border-bottom: 1px solid #666666;
}
.featureinfo_layertitle{
    font-weight: bold;
    font-size: larger;
}
.featureinfo_features{
    position: static;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: auto;
    height: auto;
}
.featureinfo_layername{
    font-weight: bold;
    font-style: oblique;
}
.featureinfo_attributes{
    margin-bottom: 10px;
    margin-left: 10px;
}
.featureinfo_attr{
    width: 100%;     
    overflow: hidden;
    /*height: 20px;*/
}
.featureinfo_attrname{
    font-weight: bold;
    float: left;
    width: 30%;
    overflow: auto;
}
.featureinfo_attrvalue{
    float: left;
    overflow: auto;
    width: 65%;
}