.svg-button svg {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 36px;
    height: 36px;
}

.svg-tool svg {
    width: 28px;
    height: 28px;
}

/* unfortunatyle we need a strong selector to override default behaviour.
this can be removed when we stop supporting png sprites */
#wrapper .olControlPanel .svg-tool,
div.olControlZoom a.svg-tool {
    background-image: none !important;
}

div.olControlZoom a.svg-tool {
    text-indent: 0;
}

div.olControlZoom a.svg-tool svg {
    width: 22px;
    height: 22px;
}

.svg-icon-header svg {
    width: 16px;
    height: 16px;
}

.svg-button svg *,
.svg-tool svg *,
.svg-icon-header svg * {
    fill: #6C6C6C;
    transition: fill .3s
}

.svg-button:hover,
.svg-button.buttonDefaultClass_hover {
    background-color: #F1F1F1 !important;
}

.svg-button:hover svg *,
.svg-tool:hover svg * {
    fill: #4A4A4A;
}

.svg-tool.svg-tool-active svg *,
.svg-button.buttonDefaultClass_click svg * {
    fill: #333333;
}