<?xml version="1.0" encoding="UTF-8"?>
<Context path="/viewer">
    <Parameter
        name="componentregistry.path"
        override="false"
        value="/viewer-html/components"
    />

    <!-- properties below are expanded at runtime and are available
    in ../resources/postgres.properties -->
    <Resource
        name="jdbc/geo_viewer"
        auth="Container"
        type="javax.sql.DataSource"
        username="${testdb.username}"
        password="${testdb.password}"
        driverClassName="${testdb.driverClassName}"
        url="${testdb.url}"
        maxActive="40"
        validationQuery="select 1"
        timeBetweenEvictionRunsMillis="30000"
        minEvictableIdleTimeMillis="5000"
    />

    <Resource name="mail/session"
              auth="Container"
              type="javax.mail.Session"
              mail.smtp.host="localhost"
              mail.smtp.from="no-reply@b3partners.nl"
    />

    <Realm className="org.apache.catalina.realm.CombinedRealm">
        <Realm allRolesMode="authOnly"
               className="org.apache.catalina.realm.DataSourceRealm"
               dataSourceName="jdbc/geo_viewer"
               digest="SHA-1"
               roleNameCol="group_"
               userCredCol="password"
               userNameCol="username"
               userRoleTable="user_groups"
               userTable="user_"
               localDataSource="true"
        >
            <CredentialHandler className="org.apache.catalina.realm.MessageDigestCredentialHandler"
                               algorithm="SHA-1"
            />
        </Realm>
    </Realm>
</Context>
