<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <filter-mapping>
        <filter-name>HeaderAuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IPAuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GeoToolsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <servlet-name>StripesDispatcher</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>nl.b3p.viewer.components.ComponentRegistryInitializer</listener-class>
    </listener>
    <listener>
        <description>scan for audit logging providers</description>
        <listener-class>nl.b3p.web.stripes.AuditLogginingInitializer</listener-class>
    </listener>
    <listener>
        <listener-class>nl.b3p.web.stripes.StripersistCleanupListener</listener-class>
    </listener>
    <listener>
        <listener-class>nl.b3p.web.SharedSessionData</listener-class>
    </listener>
    <listener>
        <description>The class which initializes (and if configured sets up) the solr instance.</description>
        <listener-class>nl.b3p.viewer.solr.SolrInitializer</listener-class>
    </listener>
    <!-- Localization context voor o.a. de <fmt:message> JSTL tag -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>ViewerResources</param-value>
    </context-param>
    <!-- NL locale voor formatten van getallen: 1.234.567,89 -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>nl</param-value>
    </context-param>
    <context-param>
        <description>
            Configure the directory at which the flamingo data directory is located. This application must have permissions to write/read to that directory. In this directory
            the solr configuration and index will be located.
        </description>
        <param-name>flamingo.data.dir</param-name>
        <param-value>PATH/TO/DATA/DIRECTORY</param-value>
    </context-param>
    <context-param>
        <description>
            Configure whether or not this web application had to create the directory structure for solr. Default is false. Set to true for the viewer-admin, because the 
            viewer-admin has the resources for a new server/core istance to be created.
        </description>
        <param-name>flamingo.solr.setup</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>
            The url on where the solr server is to be found.
        </description>
        <param-name>flamingo.solr.url</param-name>
        <param-value>http://SERVER/solr/</param-value>
    </context-param>
    <filter>
        <description>Filter from Tomcat 6 distribution, see http://wiki.apache.org/tomcat/FAQ/CharacterEncoding</description>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>nl.b3p.web.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <description>Filter to clean up GeoTools thread locals</description>
        <filter-name>GeoToolsFilter</filter-name>
        <filter-class>nl.b3p.web.geotools.GeoToolsFilter</filter-class>
    </filter>
    <filter>
        <display-name>Stripes Filter</display-name>
        <filter-name>StripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>nl.b3p.viewer.stripes</param-value>
        </init-param>
        <init-param>
            <param-name>Extension.Packages</param-name>
            <param-value>org.stripesstuff.stripersist, nl.b3p.web.stripes</param-value>
        </init-param>
        <init-param>
            <param-name>MultipartWrapper.Class</param-name>
            <param-value>net.sourceforge.stripes.controller.multipart.CommonsMultipartWrapper</param-value>
        </init-param>
        <init-param>
            <param-name>Stripersist.InitializeSettingsClass</param-name>
            <param-value>nl.b3p.viewer.config.stripersist.DynamicStripersistInitializer</param-value>
        </init-param>
        <init-param>
            <param-name>LocalePicker.Locales</param-name>
            <param-value>nl</param-value>
        </init-param>
        <init-param>
            <param-name>LocalizationBundleFactory.ErrorMessageBundle</param-name>
            <param-value>ViewerResources</param-value>
        </init-param>
        <init-param>
            <param-name>LocalizationBundleFactory.FieldNameBundle</param-name>
            <param-value>ViewerResources</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>IPAuthenticationFilter</filter-name>
        <filter-class>nl.b3p.viewer.util.IPAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <!-- See JavaDoc for documentation.

        Add the following link to login.jsp to enable SAML login:
        <p>Klik <a href="${contextPath}/auth/init?returnTo=${contextPath}/app?name=${param['name']}&version=${param['version']}&debug=${param['debug']}">hier</a> om in te loggen met uw externe account.</p> 
        -->
        <filter-name>HeaderAuthenticationFilter</filter-name>
        <filter-class>nl.b3p.web.filter.HeaderAuthenticationFilter</filter-class>
        <init-param>
            <!-- Must be set to a secret random prefix to enable.

            These filter init-params can be overridden withs a context-parameter
            using param-name prefix headerAuth and capitalizing the filter
            init-param name, for example headerAuthPrefix,
            -->
            <param-name>prefix</param-name>
            <param-value>[disabled]</param-value>
        </init-param>
        <init-param>
            <param-name>commonRole</param-name>
            <param-value>ExtendedUser</param-value>
        </init-param>
        <init-param>
            <param-name>saveExtraHeaders</param-name>
            <param-value>_SESSION</param-value>
        </init-param>
    </filter>
    <servlet>
        <servlet-name>StripesDispatcher</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DatabaseSynchronizer</servlet-name>
        <servlet-class>nl.b3p.viewer.util.databaseupdate.DatabaseSynchronizer</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>/action/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>login</web-resource-name>
            <url-pattern>/action/login</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>*</role-name>
    </security-role>
    <login-config>
        <!-- BASIC is useful during development with lots of redeploys, use
             FORM for production
        -->
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginfail.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <session-config>
        <session-timeout>240</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Stel mime type in voor .js zodat bij Tomcat in server.xml in het
         compressableMimeType attribuut voor het Connector element kan worden opgenomen:

        <Connector ...
           compression="on"
           compressableMimeType="text/html,text/plain,text/css,application/javascript"
        />
    -->
    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/javascript</mime-type>
    </mime-mapping>
</web-app>
