name: MacOS Maven build

on: [pull_request]

jobs:
  build:

    runs-on: [macos-latest]
    strategy:
      matrix:
        java: [1.8]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Build with Maven
      run: |
        mvn -B test -fae
        mvn -B verify -fae -e
